@model SaveThePony.Models.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Name</label>
            <text>@Model.Name</text>
        </div>
        <div class="form-group">
            <a href="@Model.Email">E-mail</a>
        </div>
        <div class="form-group">
            <a href="@Model.Github">Github</a>
        </div>
        <div class="form-group">
            <a href="@Model.LinkedIn">LinkedIn</a>
        </div>
        <div class="form-group">
            <a href="@Model.StackOverflow">StackOverflow</a>
        </div>
    </div>
</div>

