@model SaveThePony.Models.IndexModel
@using SaveThePony.Controllers
@{
    ViewData["Title"] = $"Saving private {Model.PonyName}";

    var northDisabled = Model.AllowedMoves.HasFlag(DirectionsEnum.North) ? "" : "disabled=\"disabled\"";
    var southDisabled = Model.AllowedMoves.HasFlag(DirectionsEnum.South) ? "" : "disabled";
    var eastDisabled = Model.AllowedMoves.HasFlag(DirectionsEnum.East) ? "" : "disabled";
    var westDisabled = Model.AllowedMoves.HasFlag(DirectionsEnum.West) ? "" : "disabled";
}

<div>
    @using (Html.BeginForm())
    {
        <div>
            <label>Pony Name</label>
            <text>@Model.PonyName</text>
        </div>
        <div>
            <label asp-for="Difficulty"></label>
            <text>@Model.Difficulty</text>
        </div>
        <div>
            <h2>
                @Model.Message
            </h2>
        </div>
        <div>
            <p>
                @Model.Maze
            </p>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FastForwardSteps, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FastForwardSteps)
            @Html.ValidationMessageFor(m => m.FastForwardSteps)
        </div>
        <div class="col-md-12">
            <div class="pad-top">
                <input type="submit" asp-controller="Home" asp-action="@nameof(HomeController.PostFastForwardAsync)" value="Fast Forward" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="pad-top">
                <input type="submit" asp-controller="Home" asp-action="@nameof(HomeController.PostNorthAsync)" value="North" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="pad-top">
                <input type="submit" asp-controller="Home" asp-action="@nameof(HomeController.PostSouthAsync)" value="South" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="pad-top">
                <input type="submit" asp-controller="Home" asp-action="@nameof(HomeController.PostEastAsync)" value="East" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="pad-top">
                <input type="submit" asp-controller="Home" asp-action="@nameof(HomeController.PostWestAsync)" value="West" />
            </div>
        </div>
    }
</div>
